---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

import type { Page } from '~/types';
import { getCollection } from 'astro:content';
import PageContent from '~/components/ui/block.contents';

import Item from '~/components/page/ListItem.astro';

const pages = await getCollection("pages");
const AboutPage = pages.find((page) => page?.data.slug === "about")?.data;

const metadata = {
  title: AboutPage?.Title || 'About us',
  description: AboutPage?.SEO?.metaDescription || 'Learn about our Club ',
  robots: {
    index: true,
    follow: true,
  },
  openGraph: {
    images: [
      {
        url: AboutPage?.SEO?.socialImage?.src || '~/assets/images/jopwell-collection/group-1.png',
      },
    ],
  }
};
---
<Layout metadata={metadata}>
  <Hero
    tagline="About us"
    image={{
      src: AboutPage?.SEO?.socialImage?.url || '~/assets/images/jopwell-collection/group-1.png',
      alt: AboutPage?.SEO?.socialImage?.alternativeText || 'Nos encanta reirnos en el club calima',
    }}
  >
    <Fragment slot="title">
      Club Calima <br />
      <span class="text-accent dark:text-white highlight">panamerican creative community</span>
    </Fragment>
    <Fragment slot="subtitle">
      Interdisciplinary collaboration across tech ecosystems, professional associations and artists
    </Fragment>
  </Hero>
  <div class="max-w-3xl mx-auto mt-4 mb-8 px-4 ">
    <PageContent params={ { page: AboutPage as Page}} />
  </div>
  <div class="max-w-3xl mx-auto mt-4 mb-8 px-4 ">
    {pages?.filter((p) => p?.data?.Active )?.map((page) => {
      return (
        <Item page={page?.data as Page} />
      )
    })}
  </div>
   <!-- // ALBUMS -->
</Layout>
