---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import StepsImage from "../assets/images/calima-summit-2024.png";
import SuitImage from "../assets/images/dj-calima-summit.png";

import { getCollection } from 'astro:content';

const _store = await getCollection('stores');
const store = _store?.[0]?.data;

const metadata = {
  title: store?.SEO?.metaTitle || 'Secret Society',
  ignoreTitleTemplate: true,
  description: store?.SEO?.metaDescription || 'Community website',
};
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      // {text: 'Join us', href: '/communities'},
    ]}
    image={{ src: '~/assets/images/ilustration-calima.jpg', alt: 'Calima' }}
  >
    <Fragment slot="title">
      Creative Community
    </Fragment>
    <Fragment slot="subtitle">
      <span class="font-semibold">Club Calima</span>
      <span class="hidden sm:inline">colaboratorio</span>
    </Fragment>
  </Hero>
  <Note title={store?.title} subtitle="Participatory International Network" />

  <Features
    id="features"
    tagline="Values"
    title="Powered by a mission"
    subtitle="& One with nature"
    items={[
      {
        title: 'Leadership & learning',
        description:
          'supportive peer network',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Shared abundance',
        description:
          'Interoperability, open standards & funds',
        icon: 'tabler:components',
      },
      {
        title: 'Technical expertise',
        description:
          'Privacy, security & reliability',
        icon: 'tabler:list-check',
      },
      {
        title: 'Trust & Social capital',
        description:
          'Collaborate & celebrate',
        icon: 'tabler:rocket',
      },
      {
        title: 'Culture of feedback',
        description:
          'Manifesting our shared vision',
        icon: 'tabler:bulb',
      },
    ]}
  />
  <Hero
    actions={[
      {text: 'Events', href: 'https://summit.caliman.org/events', target: "_blank" },
    ]}
    image={{ src: 'https://markketplace.nyc3.digitaloceanspaces.com/uploads/408bc90285413bd0368a7316dcb854ac.png', alt: 'Calima',  }}
  >
  <Fragment slot="subtitle">
    <span class="font-semibold">Participatory</span>
    <span class="hidden sm:inline">community</span>
  </Fragment>
  </Hero>
  <Content
    isReversed
    tagline="Mi casa es tu casa"
    title="multicultural, inclusive exclusive community"
    items={[
      {
        title: 'Creative Directors',
        description:
          'Interdisciplinary team leadership',
      },
      {
        title: 'Collaboration',
        description:
          'More friends & bigger businesses',
      },
      {
        title: 'Cross-browser compatibility',
        description:
          'Innovative engineering leadership',
      },
      {
        title: 'Calima culture',
        description: 'From the Colombian valley of legends',
      },
    ]}
    image={{
      src: SuitImage.src,
      alt: 'Colorful suits look great in great people',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Modern Approaches, Ancient Values</h3>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <Steps
    title="Manifest your wishes"
    items={[
      {
        title: '<span class="font-medium">Join</span>',
        description:
          "Connect with other members",
        icon: 'tabler:package',
      },
      {
        title: '<span class="font-medium">Learn</em>',
        description:
          "Join our workshops and events",
        icon: 'tabler:letter-case',
      },
      {
        title: '<span class="font-medium">Collaborate</span>',
        description:
          'Build with your new friends',
        icon: 'tabler:paint',
      },
      {
        title: 'Launch!',
        icon: 'tabler:swords',
      },
    ]}
    image={{
      src: StepsImage.src,
      alt: 'Our executive members are standing tall',
    }}
  />
  <BlogLatestPosts
    title="Blog"
    information={`Announcements from our team & partners`}
  />
  <FAQs
    title="Frequently Asked Questions"
    subtitle=""
    tagline="Cafecito"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why Calima?',
        description:
          "First & only secret community",
      },
      {
        title: 'Participate?',
        description:
           'Ask a member',
      },
      {
        title: 'Next summit?',
        description:
           'June 4 & 5, 2025, NYC',
      },
    ]}
  />
</Layout>
