 ---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Become a sponsor: Calima Summit - Jersey City March 2024',
  image: '~/assets/images/jc-1.png'
};
---
<!-- // import Prices from '~/components/widgets/Pricing.astro'; -->

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <Hero image={{ src: '~/assets/images/jc-1.png', alt: 'Mision Comercial Calima, Jersey City, March 2024' }}>
    <Fragment slot="title">
       Calima Summit<br/>
        <small class="font-semibold">Pónele ritmo a tu negocio.</small>
    </Fragment>
    <Fragment slot="subtitle">
        Club Ejecutivo Calima is connecting Colombian business owners and leaders with their US peers.
    </Fragment>
  </Hero>

  <!-- Features3 Widget ************** -->

  <!-- LOGO AWS , COMMUNITY, CALIMA SUMMIT  -->

  <!-- Sponsor Widget ******************* -->
  <Content
    tagline="Community Partners"
    title="Thanks to our friends and supporters for making this happen"
    items={[
      {
        title: 'Calima',
        description: 'Community for latinx executives and business leaders',
      },
      {
        title: 'Innpulsa Colombia',
        description: 'Entrepreneurship and innovation agency of the National Government',
      },
      {
        title: 'Sikuani',
        description: 'Leading community to promote collaboration in the tech ecosystem'
      },
      {
        title: 'Negozee',
        description: 'Business community for spanish speakers in the US'
      },
      {
        title: 'Hablo AI',
        description: '(habloai.com) Machine learning models in spanish'
      },
      {
        title: 'AWS for startups',
        description: 'Community by AWS to support founders using their platform'
      },
      {
        title: "SHPE NYC",
        description: 'Largest association dedicated to fostering Hispanic leadership in the STEM field'
      }
    ]}
    image={{
      src: '~/assets/images/jersey-city-2024/sponsors-sidebar.png',
      alt: 'Calima summit community partners',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Jersey City</h3>
      Culture, Commerce, Community
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- <Prices
    title="Sponsor Packages"
    subtitle="Support the event and get your brand in front of a highly targeted audience"
    prices={[
      {
        title: 'Oropel',
        subtitle: 'Por eso la plata que cae en mis manos la gasto en manjares, bebida y bailando',
        price: 2000,
        period: 'Sponsor drinks and appetizers for a networking event',
        items: [
          {
            description: 'Facilitate a happy hour or networking opportunity',
          },
          {
            description: '2 VIP passes',
          },
          {
            description: 'Logo on the event website',
          },
        ],
        callToAction: {
          // target: '_blank',
          text: 'Coming Soon',
          href: '#sponsor',
        },
      },
      {
        title: 'Gardenias',
        subtitle: 'No siempre hay que llegar primero, pero hay que saber llegar',
        price: 1000,
        period: 'Sponsor conference rooms and side events (2 available)',
        items: [
          {
            description: 'Facilitate business connections during the conference',
          },
          {
            description: 'Logo on the event website',
          },
          {
            description: 'Joint press opportunities',
          },
        ],
        callToAction: {
          // target: '_blank',
          text: 'Coming soon',
          href: '#sponsor',
        },
        hasRibbon: true,
        ribbonTitle: 'Buenisimo!',
      },
      {
        title: 'Bacilador',
        subtitle: 'Voy a lo que voy, a volverme famoso, para ganar mi primer millón',
        price: 'Friends',
        period: 'Bring your friends and energy to support the community',
        items: [
          {
            description: 'Become a key partner for the summit',
          },
          {
            description: 'Stickers and swag for our attendees'
          },
          {
            description: 'Speaking opportunities, panels, sessions, podcasts'
          },
          {
            description: 'Logo on the event website',
          },
          {
            description: 'Joint press opportunities',
          },
        ],
        callToAction: {
          // target: '_blank',
          text: 'Coming soon',
          href: '#sponsor',
        },
      },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Be a part of the future"
    subtitle="Register and receive updates about the event to your inbox"
    actions={[
      {
        variant: 'primary',
        text: 'Pre-Register in lu.ma',
        href: 'https://lu.ma/calimajc2024',
      },
    ]}
  />
</Layout>
