---
import '~/assets/styles/tailwind.css';

import { I18N } from "~/utils/config";

import CommonMeta from '~/components/common/CommonMeta.astro';
import Favicons from '~/components/Favicons.astro';
import CustomStyles from "~/components/CustomStyles.astro"
import ApplyColorMode from "~/components/common/ApplyColorMode.astro"
import Metadata from '~/components/common/Metadata.astro';
import SiteVerification  from "~/components/common/SiteVerification.astro"
import BasicScripts from '~/components/common/BasicScripts.astro';

import type { MetaData as MetaDataType } from '~/types';

export interface Props {
  metadata?: MetaDataType;
  redirect?: string;
}

const { metadata = {}, redirect = '' } = Astro.props;
const { language, textDirection } = I18N;
---

<!DOCTYPE html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">

  <head>
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <SiteVerification />
    {redirect ? (
      <meta
        http-equiv="refresh"
        content={ `0; url=${ redirect }` }
      />
    ) : null}
    <script type="module">
      document.addEventListener('DOMContentLoaded', () => {
        const links = document.querySelectorAll('a');
        links.forEach(link => {
          const href = link.getAttribute('href');
          if (href && (href.startsWith('http://') || href.startsWith('https://'))) {
            link.setAttribute('target', '_blank');
            link.setAttribute('rel', 'noopener noreferrer'); // For security
          }
        });
      });
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F0YG7DJT9G"></script>
    <script>
      // Global site tag (gtag.js) - Google Analytics
      // @ts-expect-error
      window.dataLayer = window.dataLayer || [];
      function gtag(){
        // @ts-expect-error
        window.dataLayer.push(arguments);
      }
      // @ts-expect-error
      gtag('js', new Date()); gtag('config', 'G-F0YG7DJT9G');
    </script>
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <slot />

    <BasicScripts />

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
