---
// import type { Container } from "~/types";

// const {
//   // children = await Astro.slots.render("default"),
//   // children: 'a',
// } = Astro.props as Container;
---

<div class="calima-container px-4 mb-8 sm:px-6 max-w-3xl mx-auto">
  <slot />  <!-- children will go here -->
</div>
